# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: these can be whole numbers and are recognised as "int" in Python coding, such as 30,60,etc or can be in form of decimals and recognised as "float", such as 5.6, 90.2, etc

Strings: these are text characters and are recognised as "str" and are always assigned between "" such as "school", "hello world", etc

Lists: ordered sequence of characters that can be in form of strings, itegers or floats, recognised as "list" and are squared brackets format such "["hello", 3.6, 500]

Tuples: similar to lists and are recongised as "tup" & are encoded in circular bracet formt ()

Dictionaries: these are recognised as "dict" an are incluseive what is known as keys with given titles as such {"dog name":"peter", "dog age":"(3 years")

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [9]:
x= (2 * 5 * 5) / 10 * 100 + 0.25 - 400
x

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5  = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [15]:
a = 4 * (6 + 5)
b = 4 * 6 + 5
c = 4 + 6 * 5
print(a)
print(b)
print(c)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

FLOAT

What would you use to find a numberâ€™s square root, as well as its square?

In [54]:
# Square root:
import math
math.sqrt(4)

2.0

In [52]:
# Square:
4 ** 2

16

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [16]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [70]:
s ='hello'

s[4:: -1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [18]:
s ='hello'
# Print out the 'o'

# Method 1:

s[4]

'o'

In [41]:
# Method 2:
p = s.split("l")[-1]
p

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [71]:
# Method 1:
x = [0,0,0]

In [73]:
# Method 2:
x = [0]
x = x * 3
x

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [47]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = "goodbye"
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [48]:
list4 = [5,3,4,6,1]

sorted(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [75]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [78]:
d = {'k1':['k2','hello']}
# Grab 'hello'
print(d['k1'][1])

hello

In [90]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d["k1"][0]['nest_key'][1])

['hello']

In [91]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
sorted(d)

['k1']

Can you sort a dictionary? Why or why not?<br><br>

No dictionaries cannot be sorted because they may include more th

## Tuples

What is the major difference between tuples and lists?<br><br>
 I don't know

How do you create a tuple?<br><br>

I don't know

## Sets

What is unique about a set?<br><br>

It includes unique characters only, i.e. no repeated characters

Use a set to find the unique values of the list below:

In [92]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

list5 = set(list5)
print(list5)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [93]:
# Answer before running cell
2 > 3
#False

False

In [94]:
# Answer before running cell
3 <= 2
#false

False

In [95]:
# Answer before running cell
3 == 2.0
#false

False

In [96]:
# Answer before running cell
3.0 == 3
#true

True

In [97]:
# Answer before running cell
4**0.5 != 2
#false

False

Final Question: What is the boolean output of the cell block below?

In [98]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
#false

False

# Great Work!